.prompt__wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  .date {
    font-size: 13px;
    color: rgb(98, 98, 98);
    margin-bottom: 5px;
  }
  .prompt {
    font-size: 20px;
    letter-spacing: 10px;
    padding-left: 10px;
    margin-bottom: 7px;
  }
  .pron {
    font-size: 15px;
  }
}
