.prompt__wrap
    .date #{new Date().getFullYear().toString().split("")[2]}#{new Date().getFullYear().toString().split("")[3]}.#{new Date().getMonth() < 10 ? "0"+new Date().getMonth() : new Date().getMonth()}.#{new Date().getDay() < 10 ? "0"+new Date().getDay() : new Date().getDay()}
    .prompt 가나다
    .pron [ ga na da ]